//
// Sharp-CSS
// CSS styling for sharp-www
// License: MIT License
//

.jumbo{
    border-radius: 10px;
    padding: 20px;
    background-color: lightgrey;
}
.jumbo h1, .jumbo h2, .jumbo h3, .jumbo h4, .jumbo h5, .jumbo h6{
    border: none;
}