//
// Sharp-CSS
// CSS styling for sharp-www
// License: MIT License
//

li.navbar-title{
    font-weight: bold;
}
li.navbar-active{
    background-color: $navbar_active_background;
}

nav.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 55px;
    background-color: $navbar_background;
    color: $navbar_text_color;
}
nav.navbar ul{
    list-style-type: none;
}
nav.navbar ul li{
    display: inline;
    padding: 19px;
    cursor: pointer;
}
nav.navbar ul li:hover{
    @extend .navbar-active
}
nav.navbar ul li a{
    color: $navbar_text_color;
    text-decoration: none;
}